@charset "UTF-8";
::selection {
	background:#f2ebeb;
	color: white;
}
table {
	border-collapse: collapse;
	font-size: 16px;
}
.dspan {float: left;}
#container {
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:1200px;
}
#menu{
	width:250px;
	min-height:800px;
}
#board{
	width:900px;
	height:100%;
}
#menu ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    width: 200px;
}
#menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border:1px solid #f2ebeb;
    color:black;
}
#menu li a:hover:not(.active) {
    background-color: #f2ebeb;
    color: white;
}
b {
	font-size: 35px;
	margin-top: 15px;
}
#bold {
	font-weight: bold;
}
#boardTable {
	margin-top:15px;
	align: left;
	width: 890px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-align:center;
}
#boardTable th{
	background-color: #f2ebeb;
	height:30px;
}
.sub td{
	border-bottom: 0.03em solid lightgray;
	height:35px;
}
#click{
	background-color: #f2ebeb;
	font-weight: bold;
    color: white;
}
.sub:hover{
	border-bottom: solid 1px #ccc;
	cursor: pointer;
	color: gray;
}
#ntitle {
	text-align:left;
}
#number {
	width:50px;
}
#title {
	width:400px;
}
#writer {
	width:100px;
}
#date {
	width:150px;
}
#read {
	width:80px;
}
.button {
	margin-top: 10px;
	border-radius: 4px;
	border:solid 1px #ccc;
	font-size:12px;
	width:92px;
	height: 30px;
	float: right;
}
.button:hover {
		cursor: pointer;
}
#tafooter td { border-bottom: 0.03em solid white;}

#boardTitle {
	margin-top:30px;
	margin-left:40px;
	text-align:center;
	font-weight: bold;
	font-size: 2rem;
	
}