@charset "UTF-8";

.paddingdiv {
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

#title {
	text-align: center;
	margin-bottom: 10px;
}

#leftTime, #timer {
	font-weight: bold;
	font-size: 25px;
}

#dif {
	color: #9799d2;
}

.radio{
	width: 20px;
	height: 20px;
}

#choice {
	font-size: 18px;
}

#okayBtn {
	margin-left: 15%;
	border: none;
	border-radius: 10px;
	background: #1a8cff;
	outline: none;
	cursor: pointer;
	width: 150px;
	font-weight: bold;
	font-size: 25px;
	color: white;
}

hr {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;	
	height: 5px;
    background: #F2EBEB;
    border: none;
}

.choiceblock {
	padding: 15px;
}

.choiceblock>div:nth-child(n + 2) {
	margin-top: 5px;
}

.submitblock {
	text-align: center;
	margin: 40px;
}

.submitblock button {
	width: 100px;
	height: 40px;
}