@charset "UTF-8";

.paddingdiv {
	padding: 50px;
}

.paddingdiv * {
	display: inline-block;
}

.block {
	position: relative;
	display: block;
	margin-bottom: 40px;
}

#bottom-block {
	position: relative;
    width: 250px;
    heigth: 150px;
    border: 5px solid #F2EBEB;
    border-radius: 20px;
    height: 150px;
    margin-right: 20px;
    margin-left: 75px;
    margin-bottom: 40px;
    padding-right: 5px;
    cursor: pointer;
}

#icon {
	margin-top: 50px;
    padding-left: 15px;
}

#line {
	height: 5px;
    display: block !important;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    background: #F2EBEB;
    border: none;
}

#updateMyInfoBtn {
	float: right;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #F2EBEB;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


#profileArea {
	width: 125px;
    height: 125px; 
    border-radius: 70%;
    overflow: hidden;
}

#profileArea:hover {
	cursor: pointer;
}

#profileArea img {
	width: 100%;
    height: 100%;
    object-fit: cover;	
}

#profileInfo {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	vertical-align: middle;
	padding: 15px;
}

#viewMatchBtn, #viewReqBtn, #viewPetsitterBtn, #viewPetsitterBtn2 {
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    height: 100px;
    margin-left: 3px;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

#insertPetBtn, #viewPetBtn {
	float: right;
    width: 90px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #F2EBEB;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.pet {
   display: inline-block;
   margin-top: 20px;
   margin-right: 90px;
   cursor: pointer;
}

.pet * {
   display: block;
   text-align: center;
}

.petImgArea {
   width: 150px;
   height: 150px; 
   border-radius: 25%;
   overflow: hidden;
   cursor: pointer;
}

.petImg {
   width: 100%;
   height: 100%;
   object-fit: cover;	
}

.pet span{
   font-weight: bold;
   color: black;
   font-size: 20px;
}

.pet p {
   font-size: 18px;
   font-weight: bold;
}

/* .pet:nth-child(n + 2) { */
/*    margin-left: 20px; */
/* } */


