<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sellshareMapper">
	<select id="getSellListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y' AND CATEGORY = '팔아요'
	</select>
	
	<select id="getShareListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y' AND CATEGORY = '나눠요'
	</select>
	
	<select id="selectSido" resultType="string">
		SELECT SIDO_NAME 
		FROM LOCATION 
		GROUP BY SIDO_NAME 
		ORDER BY SIDO_NAME
	</select>
	
	<select id="selectSigungu" parameterType="hashmap" resultType="string">
	    SELECT SIGUNGU_NAME 
   		FROM LOCATION 
   		WHERE SIDO_NAME = #{sido}
		GROUP BY SIGUNGU_NAME 
		ORDER BY SIGUNGU_NAME
	</select>

	<select id="selectDong" parameterType="hashmap" resultType="string">
		SELECT DONG_NAME 
   		FROM LOCATION 
   		WHERE SIDO_NAME = #{sido}
   			  AND SIGUNGU_NAME = #{sigungu}
		GROUP BY DONG_NAME 
		ORDER BY DONG_NAME
	</select>
	
	<resultMap type="SellshareFile" id="sellshareFileResultSet">
		<id property="fileId" column="FILE_ID"/>
		<result property="productNum" column="PRODUCT_NUM"/>
		<result property="originalFileName" column="ORIGIN_NAME"/>
		<result property="changeFileName" column="CHANGE_NAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="Sellshare" id="sellshareResultSet">
		<id property="productNum" column="PRODUCT_NUM"/>
		<result property="category" column="CATEGORY"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="pdContent" column="PD_CONTENT"/>
		<result property="pdTitle" column="PD_TITLE"/>
		<result property="price" column="PRICE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="views" column="VIEWS"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="addr1" column="SIDO_NAME"/>
		<result property="addr2" column="SIGUNGU_NAME"/>
		<result property="addr3" column="DONG_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="memberProfile" column="CHANGE_NAME"/>	
		<result property="status" column="STATUS"/>
		
		<collection property="fileList" javaType="arraylist" resultMap="sellshareFileResultSet" ofType="SellshareFile"/>
	</resultMap>
	
	<update id="updateSSCount">
		UPDATE PRODUCT SET VIEWS = VIEWS + 1
		WHERE STATUS = 'Y' AND PRODUCT_NUM = #{ssNum}
	</update>
	
	<select id="selectSellList" resultMap="sellshareResultSet">
		SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE, P.VIEWS,
			   P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, 
               P.STATUS, PF.FILE_ID, PF.PRODUCT_NUM, PF.ORIGIN_NAME, PF.CHANGE_NAME, PF.STATUS 
		FROM PRODUCT P, PRODUCT_FILE PF
		WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='팔아요'
		ORDER BY P.PRODUCT_NUM DESC
	</select>
	
	<select id="selectShareList" resultMap="sellshareResultSet">
		SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE, P.VIEWS,
               P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME,
               P.STATUS, PF.FILE_ID, PF.PRODUCT_NUM, PF.ORIGIN_NAME, PF.CHANGE_NAME, PF.STATUS
		FROM PRODUCT P, PRODUCT_FILE PF
		WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='나눠요'
		ORDER BY P.PRODUCT_NUM DESC
	</select>
	
	<insert id="insertSellshare">
		INSERT INTO PRODUCT VALUES(SEQ_PCOUNT.NEXTVAL,
			#{memberId} , #{category}, #{productName}, #{pdContent}, #{pdTitle}, #{price}, SYSDATE, DEFAULT, #{addr1}, #{addr2}, #{addr3}, DEFAULT)
	</insert>
	
	<insert id="insertSellshareFile">
		INSERT ALL 
		<foreach collection="fileList" item="ssf">
		INTO PRODUCT_FILE VALUES(SSFILE_COUNT, SEQ_PCOUNT.CURRVAL,
							 #{ssf.originalFileName}, #{ssf.changeFileName},
							 <if test="ssf.status == null">
							 DEFAULT
							 </if>
							 <if test="ssf.status != null">
							 #{ssf.status}
							 </if>
							 )
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<resultMap type="Sellshare" id="sellshareResultSet2">
		<id property="productNum" column="PDN"/>
		<result property="category" column="CATEGORY"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="pdContent" column="PD_CONTENT"/>
		<result property="pdTitle" column="PD_TITLE"/>
		<result property="price" column="PRICE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="views" column="VIEWS"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="addr1" column="SIDO_NAME"/>
		<result property="addr2" column="SIGUNGU_NAME"/>
		<result property="addr3" column="DONG_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="memberProfile" column="PN"/>
		<result property="status" column="PS"/>
		
		<collection property="fileList" javaType="arraylist" resultMap="sellshareFileResultSet" ofType="SellshareFile"/>
	</resultMap>
	
	<select id="selectSellshare" resultMap="sellshareResultSet2">
		SELECT P.PRODUCT_NUM PDN, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE, P.VIEWS,
               P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, M.MEMBER_ID, M.NICKNAME, MP.CHANGE_NAME PN, 
               P.STATUS, PF.FILE_ID, PF.PRODUCT_NUM, PF.ORIGIN_NAME, PF.CHANGE_NAME, PF.STATUS
		FROM PRODUCT P
			 JOIN MEMBER M ON(P.MEMBER_ID = M.MEMBER_ID)
			 LEFT JOIN MEMBER_PROFILE MP ON(P.MEMBER_ID = MP.MEMBER_ID)
			 LEFT JOIN PRODUCT_FILE PF ON(P.PRODUCT_NUM = PF.PRODUCT_NUM AND (PF.STATUS = 'Y' OR PF.STATUS = 'M'))
		WHERE P.STATUS = 'Y' AND P.PRODUCT_NUM = #{ssNum}
		ORDER BY PF.STATUS
	</select>
	
	<update id="deleteExFile">
		UPDATE PRODUCT_FILE SET STATUS = 'N'
		WHERE PRODUCT_NUM = #{ssNum} 
			<if test="exFile != null">
			  AND FILE_ID NOT IN
			  <foreach collection="exFile" item="fileId" open="(" separator=", " close=")">
			  		#{fileId}
			  </foreach>
			</if>
	</update>
	
	<update id="updateSellshare">
		UPDATE PRODUCT SET CATEGORY = #{category}, PRODUCT_NAME= #{productName}, PD_CONTENT = #{pdContent}, PD_TITLE = #{pdTitle},
						   PRICE = #{price}, SIDO_NAME = #{addr1}, SIGUNGU_NAME = #{addr2}, DONG_NAME = #{addr3}
		WHERE STATUS = 'Y' AND PRODUCT_NUM = #{productNum} AND MEMBER_ID = #{memberId}
	</update>
	
	<update id="updateSellshareFile">
		INSERT ALL 
		<foreach collection="fileList" item="ssf" >
			INTO PRODUCT_FILE VALUES(SSFILE_COUNT, #{productNum},
							 #{ssf.originalFileName}, #{ssf.changeFileName},
							 <if test="ssf.status == null">
							 	DEFAULT
							 </if>
							 <if test="ssf.status != null">
							 	#{ssf.status}
							 </if>
							 )				  
		</foreach>
		SELECT * FROM DUAL	
	</update>
	
	<update id="deleteSellshare">
		UPDATE PRODUCT
		SET STATUS='N'
		WHERE PRODUCT_NUM = ${ssNum}
	</update>
	
	<resultMap type="SComment" id="SCommentResultSet">
		<id property="c_num" column="COMMENT_NUM"/>
		<result property="c_Gnum" column="COMMENT_GROUP"/>
		<result property="g_order" column="GROUP_ORD"/>
		<result property="c_level" column="COMMENT_LEVEL"/>
		<result property="s_num" column="PRODUCT_NUM"/>
		<result property="member_id" column="MEMBER_ID"/>
		<result property="c_content" column="COMMENT_CONTENT"/>
		<result property="memberProfile" column="CHANGE_NAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<insert id="insertComment">
		INSERT INTO PRODUCT_COMMENT VALUES(SEQ_PCCOUNT.NEXTVAL,
			<choose>
				<when test="c_Gnum == 0">
					DEFAULT, DEFAULT, DEFAULT,
				</when>
				<otherwise>
					#{c_Gnum}, (SELECT NVL(MAX(GROUP_ORD), 0) + 1
								   FROM PRODUCT_COMMENT
								   WHERE COMMENT_GROUP = #{c_Gnum}), 
					#{c_level},
				</otherwise>
			</choose>
			#{s_num}, #{member_id}, #{c_content}, SYSDATE, SYSDATE, DEFAULT
		)
	</insert>
	
	<select id="selectComment" resultMap="SCommentResultSet">
		SELECT COMMENT_NUM, COMMENT_GROUP, GROUP_ORD, COMMENT_LEVEL, PRODUCT_NUM, MEMBER_ID, NICKNAME, CHANGE_NAME, 
		CASE WHEN PC_STATUS = 'N' THEN '삭제된 댓글' ELSE COMMENT_CONTENT END 
		AS COMMENT_CONTENT, NICKNAME, CREATE_DATE, MODIFY_DATE, PC_STATUS, M_STATUS
		FROM (SELECT PC.COMMENT_NUM, PC.COMMENT_GROUP, PC.GROUP_ORD, PC.COMMENT_LEVEL, 
            PC.PRODUCT_NUM, PC.MEMBER_ID, PC.COMMENT_CONTENT, M.NICKNAME, MP.CHANGE_NAME, PC.CREATE_DATE, 
            PC.MODIFY_DATE, PC.STATUS PC_STATUS, M.STATUS M_STATUS, CONNECT_BY_ISLEAF AS LEAF
                  FROM PRODUCT_COMMENT PC
          	JOIN MEMBER M ON(PC.MEMBER_ID = M.MEMBER_ID)
          	LEFT JOIN MEMBER_PROFILE MP ON(PC.MEMBER_ID = MP.MEMBER_ID)
          	WHERE PC.PRODUCT_NUM = #{s_num}
      	START WITH PC.COMMENT_LEVEL = 0
      	CONNECT BY PRIOR PC.COMMENT_NUM = PC.COMMENT_GROUP
      	ORDER SIBLINGS BY PC.GROUP_ORD ASC, PC.COMMENT_NUM DESC)
		WHERE PC_STATUS = 'Y' OR (PC_STATUS = 'N' AND LEAF = 0)
	</select>
	
	<update id="updateComment">
		UPDATE PRODUCT_COMMENT
		SET COMMENT_CONTENT = #{c_content}, MODIFY_DATE = SYSDATE
		WHERE COMMENT_NUM = #{c_num}
	</update>
	
	<update id="deleteComment">
		UPDATE PRODUCT_COMMENT 
		SET STATUS = 'N'
		WHERE COMMENT_NUM = #{cNum}
	</update>
	
	<select id="getSellSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y' AND CATEGORY = '팔아요'
		<if test="addr1 != '' and word == ''">
		AND SIDO_NAME = #{addr1}
		</if>
		<if test="addr1 == '' and word != ''">
		AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		<if test="addr1 != '' and word != ''">
		AND SIDO_NAME = #{addr1} AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
	</select>
	
	<select id="getShareSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y' AND CATEGORY = '나눠요'
		<if test="addr1 != '' and word == ''">
		AND SIDO_NAME = #{addr1}
		</if>
		<if test="addr1 == '' and word != ''">
		AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		<if test="addr1 != '' and word != ''">
		AND SIDO_NAME = #{addr1} AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
	</select>
	
	<select id="searchSellList" resultMap="sellshareResultSet">
		SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE,
			   P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, 
               P.STATUS, PF.FILE_ID, PF.PRODUCT_NUM, PF.ORIGIN_NAME, PF.CHANGE_NAME, PF.STATUS 
		FROM PRODUCT P, PRODUCT_FILE PF
		WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='팔아요'
		<if test="addr1 != '' and word == ''">
		AND SIDO_NAME = #{addr1}
		</if>
		<if test="addr1 == '' and word != ''">
		AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		<if test="addr1 != '' and word != ''">
		AND SIDO_NAME = #{addr1} AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		ORDER BY P.PRODUCT_NUM DESC
	</select>
	
	<select id="searchShareList" resultMap="sellshareResultSet">
		SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE,
			   P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, 
               P.STATUS, PF.FILE_ID, PF.PRODUCT_NUM, PF.ORIGIN_NAME, PF.CHANGE_NAME, PF.STATUS 
		FROM PRODUCT P, PRODUCT_FILE PF
		WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='나눠요'
		<if test="addr1 != '' and word == ''">
		AND SIDO_NAME = #{addr1}
		</if>
		<if test="addr1 == '' and word != ''">
		AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		<if test="addr1 != '' and word != ''">
		AND SIDO_NAME = #{addr1} AND PD_TITLE LIKE '%' || #{word} || '%'
		</if>
		ORDER BY P.PRODUCT_NUM DESC
	</select>
	
	<select id="allSearchSell" resultMap="sellshareResultSet">
		<![CDATA[
		SELECT PD.*
   	 	FROM (SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE, P.VIEWS,
                 P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, PF.FILE_ID, PF.ORIGIN_NAME, PF.CHANGE_NAME
          FROM PRODUCT P, PRODUCT_FILE PF
          WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='팔아요'
          AND PD_TITLE LIKE '%' || #{word} || '%'
          ORDER BY P.PRODUCT_NUM DESC) PD
   		WHERE ROWNUM <= 3
   		]]>
	</select>
	
	<select id="allSearchShare" resultMap="sellshareResultSet">
		<![CDATA[
		SELECT PD.*
   	 	FROM (SELECT P.PRODUCT_NUM, P.MEMBER_ID, P.CATEGORY, P.PRODUCT_NAME, P.PD_CONTENT, P.PD_TITLE, P.PRICE, P.CREATE_DATE, P.VIEWS,
                 P.SIDO_NAME, P.SIGUNGU_NAME, P.DONG_NAME, PF.FILE_ID, PF.ORIGIN_NAME, PF.CHANGE_NAME
          FROM PRODUCT P, PRODUCT_FILE PF
          WHERE P.PRODUCT_NUM = PF.PRODUCT_NUM AND P.STATUS = 'Y' AND PF.STATUS= 'M' AND P.CATEGORY ='나눠요'
          AND PD_TITLE LIKE '%' || #{word} || '%'
          ORDER BY P.PRODUCT_NUM DESC) PD
   		WHERE ROWNUM <= 3
   		]]>
	</select>
	
	<select id="selectSellShareList" resultMap="sellshareResultSet">
		SELECT *
		FROM PRODUCT
		WHERE STATUS='Y'
		ORDER BY PRODUCT_NUM DESC
	</select>
	
	<select id="getSellShareListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y'
	</select>
</mapper>
