@charset "UTF-8";

footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #111;
    justify-content: space-between;
    flex-wrap: wrap;
    
/* 	padding: 0; */
/* 	margin: 0; */
}
footer .container{
	width: 1200px;
    display: flex;
    padding: 50px 0px 0px 0px;
    background-color: #111;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

footer .container .sec{ 
	width: 30%;
}
.margin_left2{
	margin-left: 30px;
}
.margin_pleft{
	margin-left: 33px;
}
footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;

}
footer p{
    color: #999;
}
.sci{
    margin-top: 20px;
    display: flex;
    padding: 0;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 4px;
    text-decoration: none;
}
.sci li a:hover{
    background-color: #f00;
}
.sci li a i{
    color: #fff;
    font-size: 20px;

}
.quickLinks{
	margin-left: 80px;
    position: relative;
    width: 25%;
/*     padding: 0; */
}
.quickLinks ul{
	padding: 0;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #fff;
}
.info{
	padding: 0;
/* 	text-align: left; */
	text-decoration: none;
	list-style: none;
}
.info li{
	text-align: left;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
/*     display: flex; */
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyrightText{
	width: 1200px;
    border-top: 4px solid #181818;
    padding: 8px 0px 8px 0px;
    text-align: center;
    color: #999;
}
